<div>
    <div class="alert alert-success alert-dismissible fade show" hidden id="success-alert" role="alert">
        <i class="fa-solid fa-circle-check"></i> Data Added Successfully.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="alert alert-danger alert-dismissible fade show" hidden id="danger-alert" role="alert">
        <i class="fa-solid fa-circle-check"></i> Something went wrong!
        <button type="button" id="cancel-add-btn" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>