@{
    ViewData["Title"] = "Admin";
}

<h2>This is an authorized view by role "Admin"</h2>
<a class="btn btn-outline-primary" asp-controller="Roles" asp-action="Index">Roles</a>
<a class="btn btn-outline-primary" asp-controller="Admin" asp-action="Users">User Roles</a>