@model IEnumerable<IdentityRole>;

@{
    ViewData["Title"] = "Roles";
}


<section class="col-md-6 mx-auto">
    <div class="card shadow p-5 mt-5">
        <div class="d-flex mb-3">
            <h4 class="me-auto" style="color:dimgrey">User Roles</h4>
            <a class="btn btn-primary align-self-start" asp-action="AddRole">+</a>
        </div>
        <ul class="list-group">
            @foreach (var role in Model)
            {
                <li class="list-group-item">@role.Name</li>
            }
        </ul>
    </div>
</section>