@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Home Page</h1>
    <p class="lead text-dimgrey"><strong>This page is accessible by any user weather authenticated or not.</strong></p>
</div>
