@{
    ViewData["Title"] = "Manager";
}

<div>
    <h1 class="display-4">Manager Page</h1>
    <p class="lead text-dimgrey mb-2">
        <strong>
            This page is accessible by any user in the following roles:
            @*"<span class="text-primary">Super Admin</span>",
            "<span class="text-primary">Admin</span>",
            "<span class="text-primary">Manager</span>".*@
        </strong>
    </p>
    <ul>
        <li class="lead text-primary"><strong>Super Admin</strong></li>
        <li class="lead text-primary"><strong>Admin</strong></li>
        <li class="lead text-primary"><strong>Manager</strong></li>
    </ul>
</div>
