@{
    ViewData["Title"] = "Privacy Policy";
}

<div>
    <h1 class="display-4">Privacy Page</h1>
    <p class="lead text-dimgrey mb-2"><strong>This page is accessible by any authenticated user.</strong></p>
</div>

