@{
    ViewData["Title"] = "Super Admin";
}

<div>
    <h1 class="display-4">Super Admin Page</h1>
    <p class="lead text-dimgrey mb-2">
        <strong>
            This page is accessible by any user in the "<span class="text-primary">Super Admin</span>" role.
        </strong>
    </p>
</div>
